*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
body{
	
}
/* 底部播放器-开始 */
.B-body{
	width: 100vw;
	height: 230px;
	/* background-color: #b8b5b5; */
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: 0;
}
.b-waizhao{
	width: 900px;
	height: 80px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
/* 播放键 */
.b-play{
	width: 145px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-play>div>img{
	width: 35px;
	height: 35px;
	cursor: pointer;
}
/* 进度条 */
.b-progress{
	width: 500px;
	height: 80px;
	/* background-color: #214231; */
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.tou-X{
	width: 60px;
	height: 60px;
}
.tou-X>img{
	width: 100%;
	height: 100%;
}
.Prss{
	width: 390px;
	height: 60px;
}
.Prss-biaoti{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.bt-1{
	font-size: 13px;
	color: #f9f6f6;
}
.s-time{
	font-size: 13px;
	color: #f9f6f6;
}
.p-instll{
	width: 390px;
	margin-top: 20px;
	cursor: pointer;
	position: relative;
}
.p-jintu{
	width: 390px;
	border: solid 1px #f9f6f6;
	position: absolute;
}
.p-drop{
	width: 10px;
	height: 10px;
	background-color: #f9f6f6;
	border-radius: 5px;
	position: absolute;
	margin-top: -4px;
	z-index: 2;
}
.p-background{
	width: 5px;
	border: solid 1px #00aaff;
	position: absolute;
	z-index: 1;
}

/* 音量键 */
.b-volume{
	width: 200px;
	height: 80px;
	/* background-color: aqua; */
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}
.b-volume>div{
	height: 80px;
	display: flex;
	align-items: center;
}
.b-volume>div>img{
	width: 18px;
	height: 18px;
	cursor: pointer;
}
.yinkuang{
	width: 80px;
	height: 150px;
	/* background-color: #55ff00; */
	margin-left: 550px;
	opacity: 0;
	transition: 0.2s;
}
.yinliang{
	width: 25px;
	height: 120px;
	border-radius: 10px;
	background-color: #444444;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
.Vo-dian{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #00aaff;
	z-index: 2;
	cursor: pointer;
	margin-top: 10px;
}
.Vo-beijing{
	width: 4px;
	height: 10px;
	background-color: #ffffff;
	position: absolute;
	z-index: 1;
	margin-top: 10px;
}
.Vo-jindu{
	width: 4px;
	height: 100px;
	background-color: #00aaff;
	position: absolute;
	margin-top: 10px;
}
/* 底部播放器-结束 */

.zhong-pig{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
/* 歌词开始 */
.G-lyric{
	width: 100vw;
	height: 100vh;
	background-color: rgb(53, 53, 53,0.5);
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}
.G-back{
	width: 260px;
	height: 500px;
}
.G-back>img{
	width: 260px;
	height: 280px;
}
.g-kuangci{
	width: 460px;
	height: 500px;
	/* background-color: #55aaff; */
	margin-left: 137px;
}
.g-biaoti>p{
	width: 300px;
	margin-top: 10px;
	display: flex;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	justify-content: space-between;
}
.g-biaoti>p>span{
	font-size: 15px;
}
.ge-xianci{
	width: 400px;
	height: 400px;
	/* background-color: blueviolet; */
	margin-top: 20px;
	overflow: hidden;
}
.geciO{
	width: 400px;
	/* background-color: #ffaa7f; */
	transition: 0.3s;
}
.geciO>li{
	color: #eeeeee;
	font-size: 16px;
	margin-top: 10px;
}
/* 歌词结束 */
/* 背景虚化开始 */
.XW-wu{
	width: 1200px;
	height: 1200px;
	position: absolute;
}
.XW-wu>img{
	width: 100vw;
	height: 100%;
	filter: blur(50px);
}